.App {
  height: 100vh;
  background-color: #01497c;
  text-align: center;
  color: white;
}

#form-input{
  width: 300px;
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
}

#botao-procurar{
  margin: 30px 10px;
  width: 100px;
  padding: 5px 10px;
  background-color: #012a4a;
  border-radius: 20px;
  color: white;
  border: none;
  box-shadow: 0 5px 5px #000;
}

#h1-cidade{
  font-size: 2.5rem;
}

#h2-tempo-atual{
  margin: 15px 0px;

}

#p-tempo{
  font-size: 1.5rem;
  margin-bottom: 10px;
}

#p-descricao{
  font-size: 1.2rem;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 30px;
}


#ol-proximos-dias{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.li-proximos-dias {
  display: flex;
  width: 500px;
  justify-content: space-between;
  margin-bottom: 15px;
  background-color: #012a4a;
  padding: 5px 15px;
  border-radius: 20px;
  color: white;
}

.div-proximos-dias{
  display: flex;
}

.p-vento-temperatura{
  margin-left: 10px;
}